<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Surf Swap</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"
    />
    <link href="stylesheets/app.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <div id="navbar" class="ui inverted stackable menu">
      <a href="/">
        <div class="item">
          <img src="Images/SurfShareLogo.png" /></div
      ></a>
      <a class="item" href="/gallery">Bargin Cave</a>
      <a class="item" href="/gallery/addItem">Sell Gear</a>
      <a class="item" href="#">Forum</a>
      <% if(!currentUser){%>
      <a class="item" href="/login">Sign-In</a>
      <a class="item" href="/signup">Sign-Up</a>
      <%}else{%>
      <a class="item" href="/logout">Log-Out</a>
      <% }%>
    </div>

