<%- include ("partials/header") %>
<div class="container">
  <br />
  <form id="Add-Item" action="/gallery" method="POST">
    <h1>Lets See What You Got!</h1>
    <input type="text" name="Item[title]" placeholder="Title" required />
    <input type="text" name="Item[price]" placeholder="$" required />
    <input type="text" name="Item[image]" placeholder="Image" required />
    <textarea
      name="Item[body]"
      id="desc"
      cols="30"
      rows="10"
      placeholder="Enter Description"
      required
    ></textarea>
    <button class="ui green button" type="submit">Sell Now!</button>
  </form>
</div>
<%- include ("partials/footer") %>
