<%- include ("./partials/header") %>
<br />
<form id="login" action="/login" method="POST">
  <h1>Login!</h1>
  <input type="text" name="username" placeholder="Username" />
  <input type="password" name="password" placeholder="Password" />
  <button class="ui green button" type="submit">Login</button>
</form>
<%- include ("./partials/footer") %>
