html {
  margin: 0;
  padding: 0;
  height: 100%;
}
h1 {
  text-align: center;
}

/* ==================Nav-Bar Styles================= */
.item:hover {
  font-size: 1.1em;
  transition-duration: 200ms;
}

.ui.menu {
  margin: 0;
  padding: 0;
}

.flashMessage {
  display: flex;
  margin: auto auto;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.hide-alert {
  display: none;
}
/*=====================Index Page styles=========== */
.index {
  background-image: url(https://images.unsplash.com/photo-1544840494-d0e48b117320?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=60);
  background-size: cover;
  background-position: center center;
  min-height: 100%;
  min-width: 100%;
  margin: 0;
}

#content {
  text-align: center;
  padding-top: 25%;
  color: #000;
}

hr {
  width: 50%;
  opacity: 0.6;
}
/* ===================Gallary Styles================= */

#gallery-title {
  text-align: center;
  font-size: 2.5em;
  padding-top: 50px;
}

.gallary-container {
  box-sizing: border-box;
  margin: auto auto;
  display: flex;
}

.wrapper {
  margin: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
}
.items {
  max-width: 300px;
  max-height: auto;
  display: flex;
  align-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px;
  animation: popout 1s ease;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.middle {
  position: relative;
  bottom: 175px;
  left: 60px;
  transition: 0.5s ease;
  opacity: 0;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  align-items: center;
}
/* image hover effects */
.items:hover .image {
  opacity: 0.3;
}

.items:hover .middle {
  opacity: 1;
}

.text {
  background-color: #4caf50;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

/* =============Add Item syles====================== */

#Add-Item {
  width: 90%;
  justify-content: center;
  margin: 15% auto;
}
#Add-Item label {
  margin: 5px;
}

form button {
  margin: auto auto;
}
/* ===================show page styles===============  */

.show-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.ui.comments {
  width: 650px;
  padding-bottom: 20px;
}

.show-wrapper {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.item-info {
  display: flex;
  margin: 20px;
  padding: 40px;
  flex-direction: column;
  align-items: center;
  width: 40%;
}
.item-description {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 10%;
}
#description {
  color: #fff;
  background-color: #000;
  width: 60%;
  text-align: center;
  margin: 0;
}
#comment-author {
  font-weight: bold;
  font-size: 1.2em;
  color: black;
}
.button-wrapper {
  padding-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  justify-content: space-between;
}

/*=================Forum styles=================== */
.forum-container {
  display: grid;
  grid-template-rows: repeat(2, 40vh);
  grid-template-columns: repeat(2, 1fr);
  margin: auto auto;
  border-radius: 10px;
  width: 60%;
  height: 100%;
  align-items: flex-start;
  justify-items: center;
}

.forum-container img {
  box-shadow: 0 0 10px #000000;
  height: auto;
  width: 400px;
}

.forum-header {
  text-align: center;
  animation: popout 1s ease;
}

.forum-header h2 {
  color: #000;
}
hr {
  margin-bottom: 30px;
}

/* surf reports */
.report-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.report {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/*============Authentification styles================ */
#signup {
  width: 80%;
  margin: 15% auto;
}

#signup label {
  margin: 5px;
}

#login {
  padding-top: 15%;
  width: 30%;
  margin: auto auto;
}

#login button {
  display: block;
  margin: auto auto;
}

#register-button {
  float: inline-end;
  margin: 10px;
}

/* ========== Animations=============== */

@keyframes popout {
  from {
    transform: scale(0);
  }
  80% {
    transform: scale(1.2);
  }
  to {
    transform: scale(1);
  }
}
@-webkit-keyframes popout {
  from {
    -webkit-transform: scale(0);
  }
  80% {
    -webkit-transform: scale(1.2);
  }
  to {
    -webkit-transform: scale(1);
  }
}
