<%- include("../partials/header") %>
<div class="index container">
  <div class="row">
    <div class="col-lg-12">
      <div id="content">
        <h1>Surf Swap</h1>
        <p>Canadas premium surfboard sharing site</p>
        <hr id="index" />
        <a href="/gallery"
          ><button type="button" class="ui green button">Get Trading</button></a
        >
      </div>
    </div>
  </div>
</div>
<%- include("../partials/footer") %>
